@import "../variables";

.gdpr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem auto;
    max-width: 1000px;

    h3 {
        flex: 100%;
        padding: 0 0 1rem 0;
        text-align: center;
    }

    p {
        flex: 100%;
        text-align: justify;
        line-height: 1.4rem;
    }

    &__mainPoint {
        margin: 0 0 0 1rem;
        list-style-type: decimal;
        
        li {
            margin-top: 1.5rem;
            text-align: justify;
            line-height: 1.4rem;
        }
    }

    &__subPoint {
        margin: 0 0 0 1rem;
        list-style-type: none;

        li {
            margin-top: 0.5rem;
        }
        
        li::before {
            content: "•";
            color: $color01;
            display: inline-block;
            width: 1em;
            margin-left: -1em
        }
    }
}

